*

# Root files
!.gitignore
!colmena.nix
!flake.lock
!flake.nix
!globals.nix
!README.md
!TODO.md

# Folders
!configs/
!darwin/
!hosts/
!secrets/
!tests/

# Files in folders
!configs/**
!darwin/**
!hosts/**
!secrets/**
!tests/**
