*

# Root files
!.gitignore
!flake.lock
!flake.nix
!globals.nix
!README.md
!TODO.md
!tofu.fish
!vm-builder.fish

# Folders
!configs/
!hosts/
!OpenTofu/
!secrets/
!tests/

# Files in folders
!configs/**
!hosts/**
!OpenTofu/**
!secrets/**
!tests/**
