*

# Root files
!.gitignore
!colmena.nix
!flake.lock
!flake.nix
!README.md

# Folders
!darwin/
!home/
!hosts/
!nixos/
!secrets/
!stylix/
!syncthing/

# Files in folders
!darwin/**
!home/**
!hosts/**
!nixos/**
!secrets/**
!stylix/**
!syncthing/**
